@page "/users"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@using System.Security.Claims

@inject NavigationManager Navigation

@attribute [Authorize(Roles = "Production,Owner,Admin")]

@rendermode InteractiveServer

<div class="container">
    <UserSummary />
    <NavLink href="/dashboard" class="btn btn-primary">Dashboard</NavLink>
</div>
