################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/barham_d424_project/.vs/barham_d424_project
