@inherits LayoutComponentBase

<div class="min-h-screen flex flex-col">
    <header class="bg-gray-800" text-white p-4 shadow>
        <h1 class="text-xl-center font-bold">Barham Order Management</h1>
    </header>

    <main class="flex-grow-1 p-4">
        @Body
    </main>

    <footer class="bg-gray-800 text-white p-4 text-center text-sm text-gray-600">
        <p>&copy; 2025 Barham Order Management</p>
    </footer>
</div>