@using Microsoft.AspNetCore.Components.Routing
@using System.Security.Claims

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    <AuthorizeView>
                        <NotAuthorized Context="redirectAuth">
                            <RedirectToLogin />
                        </NotAuthorized>
                        <Authorized Context="notAuth">
                            <p>Sorry, you are not authorized to access this page.</p>
                        </Authorized>
                    </AuthorizeView>
                </NotAuthorized>
                <Authorizing>
                    <p>Authorizing...</p>
                </Authorizing>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(MainLayout)">
                <p>Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
