
@page "/dashboard"


<h2 class="text-2xl font-bold mb-4">Dashboard</h2>

<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
    <div class="bg-white p-4 rounded-lg shadow text-center">
        <p class="text-sm uppercase text-gray-500">Orders This Week</p>
        <p class="text-3xl font-bold">@ordersThisWeek</p>
    </div>
</div>
@code {
    private int ordersThisWeek;
    protected override async Task OnInitializedAsync()
    {
        //ordersThisWeek = await OrderService.GetOrdersThisWeekAsync();
    }

}
